@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,600;0,700;1,300;1,600;1,700&family=Poppins:wght@300&display=swap');


/*-----------------------------------------------------------Colors */

.bg-col-navbar {
    background-color: #282727;
}

.bg-col-red {
    background-color: #CB3737;
}

.bg-col-dk {
    background-color: #3a3a3a;
}

/*-----------------------------------------------------------General Text */

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

h1,
h2,
h3,
nav {
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 80px;

}

h2 {
    font-weight: 300;
    font-size: 24px;
}

h3 {
    font-weight: 700;
    font-size: 36px;
}

.button-text {
    font-family: 'Fira Sans', sans-serif;
    color: #282727;
}

.txt-cent {
    text-align: center;
}

.bottom-margin-text {
    margin-bottom: 60px;
}


/*-----------------------------------------------------------Containers */

.row,
figure {
    margin: 0;
}

/*-----------------------------------------------------------Nav */

.navbar {
    opacity: 95%;
}

.nav-brand {
    font-weight: 200;
    font-size: 24px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.nav-brand:hover {
    color: white;
}

.nav-link:hover {
    color: white;
    font-weight: 200;
}

#bb-logo {
    width: 60px;
    height: auto;
    margin: 10px 5px 10px 5px;
}

.nav-item a {
    list-style: none;
    color: #d1d1d1;
    font-weight: 100;
    font-size: 90%;
}

.navbar-toggler {
    border: 0;
}

.nav-behind {
    background-color: #282727;
    height: 96px;
    width: 100%;
}

/*-----------------------------------------------------------Hero */

.hero-bg-container {
    padding: 0;
    height: 90vh;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 65%, rgba(0, 0, 0, 0.9) 90%),
        url("../images/hero_home.jpg");
    background-color: #282727;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    bottom: 30px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-left: 50px;
    padding-right: 50px;
}

/*-----------------------------------------------------------Text Section */

.text-section-container {
    padding: 200px 0px;
}


/*-----------------------------------------------------------Buttons */

.circle-button-lrg {
    width: 140px;
    height: 140px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.white-circle {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-circle p {
    padding: 0;
    margin: 0;
    line-height: 120%;
    font-weight: 600;
}

.line-circle-inner,
.line-circle-middle,
.line-circle-outer {
    border: 2px solid #282727;
    border-radius: 50%;
    position: absolute;
}

.line-circle-inner {
    width: 80%;
    height: 80%;
    opacity: 40%;
}

.line-circle-middle {
    width: 90%;
    height: 90%;
    opacity: 30%;
}

.line-circle-outer {
    width: 100%;
    height: 100%;
    opacity: 20%;
}

/*-----------------------------------------------------------Gallery & Video */

.gallery-image {
    padding: 0;
}

.gallery-image img {
    max-width: 100%;
}

.video-section-container {
    padding: 100px 0px;
}


/*-----------------------------------------------------------Footer */

footer {
    height: 100px;
    background-color: #282727;
    position: relative;
}

#footer-links-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 32px;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #282727;
    background: #ffffff;
}

.social-links li a i:hover {
    background-color: #CB3737;
}

/*-----------------------------------------------------------Media Queries */

/* Small */

@media(max-width: 575px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 30px;
    }

    #bb-logo {
        width: 40px;
        height: auto;
        margin: 0px 0px 0px 0px;
    }

    .nav-behind {
        height: 56px;

    }

    .text-section-container {
        padding: 100px 0px;
    }
}


/* Medium */

@media screen and (max-width: 767px) {
    .nav-brand span {
        display: none;
    }
}