@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300;1,600;1,700&family=Poppins:wght@300;600&display=swap');


/*----------------------------------------------------------- Page Container Settings */


body,
nav {
    max-width: 2048px;
    margin: 0 auto;
    background: #d1d1d1;
}

/*-----------------------------------------------------------Colors */

.bg-col-navbar {
    background-color: #282727;
}

.bg-col-red {
    background-color: #CB3737;
}

.bg-col-dk {
    background-color: #3a3a3a;
}

/*-----------------------------------------------------------General Text */

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

p {
    font-weight: 300;
}

.p-bigger {
    font-size: 18px;
}

h1,
h2,
h3,
nav {
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 80px;

}

h2 {
    font-weight: 300;
    font-size: 24px;
}

h3 {
    font-weight: 700;
    font-size: 36px;
}

.txt-cent {
    text-align: center;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}


/*-----------------------------------------------------------Containers / Dividers / Generic Margins */

.row,
figure {
    margin: 0;
}

.buffer {
    height: 100px;
    width: 100%;
}

.container-fluid-nopad {
    padding: 0;
}

/*-----------------------------------------------------------Nav */

.navbar {
    opacity: 95%;
}

.navbar-dark {
    --bs-navbar-hover-color: none;
}

.nav-brand {
    font-weight: 200;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

#bb-logo {
    width: 60px;
    height: auto;
    margin: 10px 5px 10px 5px;
}

.nav-item a {
    list-style: none;
    color: #ffffff;
    font-weight: 300;
    opacity: 50%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link {
    text-align: right;
    padding: 25px 15px 25px 0;
    --bs-navbar-nav-link-padding-x: 0.8rem;
}

.active-nl a {
    opacity: 100%;
}

.nav-behind {
    background-color: #282727;
    height: 96px;
    width: 100%;
}

/*-----------------------------------------------------------Hero */

#hero-home {
    padding: 0;
    height: 90vh;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 65%, rgba(0, 0, 0, 0.9) 90%),
        url("../images/hero_home.jpg");
    background-color: #282727;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}

#hero-about {
    padding: 0;
    height: 35vh;
    min-height: 200px;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 65%, rgba(0, 0, 0, 0.9) 90%),
        url("../images/hero_about.jpg");
    background-color: #282727;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}

#hero-book {
    padding: 0;
    height: 35vh;
    min-height: 200px;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 65%, rgba(0, 0, 0, 0.9) 90%),
        url("../images/hero_book.jpg");
    background-color: #282727;
    background-position: center top 10%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}

#hero-join {
    padding: 0;
    height: 35vh;
    min-height: 200px;
    background:
        linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.7) 65%, rgba(0, 0, 0, 0.9) 90%),
        url("../images/hero_join.jpg");
    background-color: #282727;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: relative;
}

.hero-text {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.hero-text-sm {
    bottom: 40px;
}

.hero-text-lg {
    bottom: 90px;
}

/*-----------------------------------------------------------Home Text Section */

.text-section-container {
    padding: 200px 0px;
}

#batala-hey-title {
    margin-bottom: 30px;
}

/*-----------------------------------------------------------About Us */

.about-section-title {
    margin-bottom: 30px;
}

.about-text {
    padding-right: 5%;
    padding-left: 5%;
}

.about-img {
    background-color: #282727;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 700px;
}

#about-img-top {
    background-image: url("../images/about_band.jpg");
    border-radius: 0% 10% 10% 0;
    background-position: center top;
}

#about-img-middle {
    background-image: url("../images/about_music.jpg");
    border-radius: 10% 0% 0% 10%;
    background-position: center;
}

#about-img-bottom {
    background-image: url("../images/about_mundo.jpg");
    border-radius: 0% 10% 10% 0;
    background-position: center;
}

#need-drum-container {
    padding: 100px 0px 60px 0;
}

#need-drum-text {
    padding-left: 5%;
    padding-right: 5%;
}

#need-drum-title {
    margin-bottom: 10px;
}

#cta-join-text {
    width: 35%;
    min-width: 200px;
    margin: 0 auto;
}

#cta-join-text a {
    color: #ffffff;
    text-underline-offset: 5px;
    padding: 20px 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

.link-text {
    opacity: 60%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-----------------------------------------------------------Join / Book */

.form-container {
    padding: 100px 7% 100px 7%;
}

.form-text-title {
    margin-bottom: 30px;
}

.form-text-block {
    padding-right: 5%;
}

.h2-small {
    font-size: 20px;
}

.form-text-block p a {
    color: #ffffff;
    font-weight: 600;
    text-underline-offset: 3px;
    text-decoration-thickness: 0.5px;
}


/*----------------------------------------------------------- Form */

.form {
    padding-left: 5%;
}

#join-form-container {
    margin-top: 75px;
}

.form-title {
    margin-bottom: 15px;
}

.form-input-text,
.form-input-textarea,
.form-input-date {
    width: 100%;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    padding-left: 10px;
    color: #3a3a3a;
}

.form-input-text,
.form-input-date {
    margin-top: 5px;
}

.form-input-textarea {
    margin-top: 20px;
    padding: 10px;
    height: 160px;
}

.form-input-date {
    height: 26px;
    border: none;
}

input:focus,
textarea:focus {
    outline-color: #282727;
}

/*-----------------------------------------------------------Testimonials */

#testimonial-container {
    padding: 100px 2% 60px 2%;
}

#testimonial-title {
    text-align: center;
    margin-bottom: 60px;
}

.testi-single {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
}

.testi-img {
    margin-right: 30px;
}

.testi-left-col {
    margin-right: 30px;
}

.testi-right-col {
    margin-left: 30px;
}

/*-----------------------------------------------------------Buttons */

.circle-button-lrg,
.circle-button-sm {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-button-lrg {
    width: 140px;
    height: 140px;
    margin: 0 auto;
}

.circle-button-sm {
    width: 92px;
    height: 92px;
}

#find-out-more-btn {
    margin-top: 60px;
}

#book-us-btn {
    margin-top: 30px;
    margin-bottom: 50px;
}

#submit-btn {
    position: relative;
    right: 15px;
    font-size: 85%;
}

.submit-btn-txt {
    border: none;
    background-color: transparent;
}

.white-circle {
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.white-circle a {
    z-index: 2;
    text-decoration: none;
    padding: 30px 0px;
}

.button-text {
    font-family: 'Fira Sans', sans-serif;
    color: #282727;
    margin: 0;
    line-height: 120%;
    font-weight: 500;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.line-circle-dark {
    border: 2px solid #282727;
}

.line-circle-light {
    border: 2px solid #ffffff;
}

.line-circle-inner,
.line-circle-middle,
.line-circle-outer {
    border-radius: 50%;
    position: absolute;
    z-index: 0;
}

.line-circle-inner {
    width: 80%;
    height: 80%;
    opacity: 40%;
    transform: scale(0.7);
    transition: transform 0.35s ease-in-out;
    -moz-transition: transform 0.35s ease-in-out;
    -webkit-transition: transform 0.35s ease-in-out;
    -o-transition: transform 0.35s ease-in-out;
}

.line-circle-middle {
    width: 90%;
    height: 90%;
    opacity: 30%;
    transform: scale(0.7);
    transition: transform 0.35s 0.05s ease-in-out;
    -moz-transition: transform 0.35s 0.05s ease-in-out;
    -webkit-transition: transform 0.35s 0.05s ease-in-out;
    -o-transition: transform 0.35s 0.05s ease-in-out;
}

.line-circle-outer {
    width: 100%;
    height: 100%;
    opacity: 20%;
    transform: scale(0.7);
    transition: transform 0.35s 0.1s ease-in-out;
    -moz-transition: transform 0.35s 0.1s ease-in-out;
    -webkit-transition: transform 0.35s 0.1s ease-in-out;
    -o-transition: transform 0.35s 0.1s ease-in-out;
}

/*-----------------------------------------------------------Gallery & Video */

.gallery-image {
    padding: 0;
}

.gallery-image img {
    max-width: 100%;
}

.video-section-container {
    padding: 100px 0px;
}

.video-wrapper {
    margin-top: 60px;
}


/*-----------------------------------------------------------404 */

#error-container {
    height: 90vh;
    padding-top: 200px;
}

#error-container p a {
    color: #ffffff;
    font-weight: 600;
    text-underline-offset: 3px;
    text-decoration-thickness: 0.5px;
}

/*-----------------------------------------------------------Footer */

footer {
    height: 100px;
    background-color: #282727;
    position: relative;
}

#footer-links-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 32px;
}

.list-inline-item:not(:last-child) {
    margin-right: 1.5rem;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 8px 0;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #282727;
    background: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

/*-----------------------------------------------------------Media Queries & Hover Pseudo Elements */

/* Below Large */

@media (max-width: 991px) {

    .about-text {
        text-align: center;
        margin: 100px 0;
        padding-left: 20%;
        padding-right: 20%;
    }

    .buffer {
        display: none;
    }

    #about-img-top,
    #about-img-middle,
    #about-img-bottom {
        border-radius: 0;
        min-height: 500px;
        max-height: 500px;
    }

    .form-container,
    #testimonial-container {
        padding: 100px 10% 60px 10%;
    }

    .form {
        padding: 0;
        margin-bottom: 60px;
    }

    #join-form-container {
        margin-top: 0;
    }

    .form-title {
        margin-bottom: 60px;
        text-align: center;
        font-size: 30px;
        font-weight: 700;
    }

    .lg-only {
        display: none;
    }

    .form-text-block {
        padding: 0;
        text-align: center;
    }

    #submit-btn {
        margin: 0 auto;
        right: 0;
    }

    .form-input-textarea {
        height: 250px;
    }

    .testi-single {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .testi-img {
        margin-right: 0;
        margin-bottom: 30px;
    }
    
    .testi-left-col {
        margin-right: 0px;
    }
    
    .testi-right-col {
        margin-left: 0px;
    }
}

/* Below Medium */

@media (max-width: 767px) {
    .nav-brand span {
        display: none;
    }

    .nav-item a {
        font-size: 20px;
        font-weight: 400;
    }

    .fixed-top {
        position: absolute;
    }

    .about-text {
        text-align: center;
        margin: 60px 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .about-title {
        font-size: 30px;
        font-weight: 500;
    }

}

/* Below Small */

@media (max-width: 575px),
(max-height: 575px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 30px;
    }

    #bb-logo {
        margin: 3px 0px 3px 0px;
    }

    .nav-behind {
        height: 76px;
    }

    #hero-home {
        height: 75vh;
    }

    .text-section-container {
        padding: 100px 0px;
    }

    .hero-text-lg {
        bottom: 50px;
    }

    .hero-text-sm {
        bottom: 20px;
    }

    #video-row {
        margin-left: 10px;
        margin-right: 10px;
    }

    #need-drum-container {
        padding: 60px 0px 10px 0;
    }

    #book-us-btn {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .form-container {
        padding: 60px 5% 60px 5%;
    }

    .form-title {
        margin-bottom: 40px;
    }

    #testimonial-container {
        padding: 60px 5% 30px 5%;
    }


}

/* Small landscape device */

@media (max-height: 400px) {
    .hero-text-sm {
        bottom: 0px;
    }
}

/* No Hover Devices */

@media (hover: none) {
    .line-circle-inner,
    .line-circle-middle,
    .line-circle-outer {
        transform: scale(1)
    }
}

/* Hover Effects - Disabled on touchscreen devices */

@media(hover: hover) and (pointer: fine) {
    .nav-brand:hover {
        color: white;
    }
    .nav-link:hover {
        opacity: 100%;
    }
    .link-text:hover {
        opacity: 100%;
    }
    .white-circle:hover .button-text {
        font-size: 110%;
    }
    .white-circle:hover~* {
        transform: scale(1);
    }
    .social-links li a i:hover {
        background-color: #CB3737;
    }
}